<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <h4>Datos Personales</h4>
                            </tr>
                            <tr><th>Nombre:</th><th>{{ dataUser.nombre_completo}}</th></tr>
                            <tr><th>CURP:</th><th>{{ dataUser.curp }}</th></tr>
                            <tr><th>RFC:</th><th>{{ dataUser.rfc }}</th></tr>
                            <tr><h4>Datos Laborales</h4></tr>
                            <tr><th>No. Empleado:</th><th>{{ dataUser.numero_empleado }}</th></tr>
                            <tr><th>Email laboral:</th><th>{{ dataUser.email }}</th></tr>
                            <tr>
                                <h4>Datos de contacto</h4>
                            </tr>
                            <tr><th>Tel. movil:</th><th>000-000-0000</th></tr>
                            <tr><th>Email personal:</th><th>{{ dataUser.email_personal }}</th></tr>
                        </thead>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
