<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de registro</th>
                                <th>Campaña</th>
                                <th>Lider</th>
                                <th>Estatus</th>
                                
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let campania of campanias">
                                <td>{{ campania.id }}</td>
                                <td>{{ campania.created_at | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ campania.nombre }}</td>
                                <td>{{ user_name }}</td>
                                <td><span class="label  label-rounded" [ngClass]="{'label-success': campania.estatus === 'Activo', 'label-danger' : campania.estatus === 'Inactivo' }"></span></td> 
                                <td class="actions">
                                    <a style="cursor: pointer;" (click)="showDetail(campania.id, campania.id_type_origin)"><i class="mdi mdi-eye"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>
