
<loading *ngIf="isLoading">{{ isLoading }}</loading>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align: end;"><button class="btn btn-primary" (click)="createGroup()" value=""><i class="mdi mdi-plus"></i> Crear grupo</button></h4>
               
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha de creación</th>
                                <th>Nombre del grupo</th>
                                <th>Agentes autorizados</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let group of groups">
                                <td>{{ group.id }}</td>
                                <td>{{ group.created_at | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ group.nombre }}</td>
                                <td><a [routerLink]="['/dashboard/group-show', group.id ]">{{ group.agentes.length }}</a></td>
                                <td class="actions">
                                    <!-- <a  href="#"><i class="mdi mdi-eye"></i></a> -->
                                    <a [routerLink]="['/dashboard/group-edit', group.id ]"><i class="mdi mdi-pencil"></i></a>
                                    <a (click)="delete(group.id)" style="cursor: pointer;"><i class="mdi mdi-delete"></i></a>
                                </td>
                            </tr>





                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
</div>